<style>
    
    @media screen and (min-height : 240px) {
        .confirmWrapper {
            top:80px;
        }
        
        .confirmClose {
            top: 86px;
            height: 12px;
        }
    }

    @media screen and (min-height : 320px) {

        .confirmWrapper {
            top:116.66px;
        }
        
        .confirmClose {
           top: 124.66px;
            height: 16px;
        }
    }

    @media screen and (min-height : 480px) {
        .confirmWrapper {
            top:160px;
        }
        
        .confirmClose {
            top:172px;
            height: 24px;
        }
    }

    @media screen and (min-height : 600px) {
        .confirmWrapper {
            top: 200px;
        }
        
        .confirmClose {
            height: 30px;
            top:215px;
        }
    }

    @media screen and (min-height : 720px) {
        .confirmWrapper {
            top: 240px;
        }
        
        .confirmClose {
            top:258px;
            height: 36px;
        }
    }

    @media screen and (min-height : 800px) {
        .confirmWrapper {
            top:266.66px;
        }
        
        .confirmClose {
            top:286.66px;
            height: 40x;
        }
    }

    @media screen and (min-height : 900px) {
        .confirmWrapper {
            top:300px;
        }
        
        .confirmClose {
            top:322.5px;
            height: 45px;
        }
    }

    @media screen and (min-height : 960px) {
        .confirmWrapper {
            top:320px;
            top: 24px;
        }
        
        .confirmClose {
            top:344px;
            height: 48px;
            top: 48px;
        }
    }

    @media screen and (min-height : 1200px) {
        .confirmWrapper {
            top:600px;
        }
        
        .confirmClose {
            top:630px;
            height: 60px;
        }
    }

    @media screen and (min-height : 1280px) {
        .confirmWrapper {
            top: 640px;
        }
        
        .confirmClose {
            top:672px;
            height: 64px;
        }
    }

    @media screen and (min-height : 1600px) {
        .confirmWrapper {
            top: 800px;
        }
        
        .confirmClose {
            top:840px;
            height: 80px;
        }
    }

    @media screen and (min-height : 1920px) {
        .confirmWrapper {
            top:192px;
        }
        
        .confirmClose {
            top : 240px;
            height: 96px;
        }
    }

    
    
    .confirmWrapper{
        //border: 5px solid #ddd; 
        position: relative;
    }
    
    .confirmClose {
        position: relative;
        left: 100%;
        z-index: 100;
    }
</style>

<img id="close" class="confirmClose" src="img\close.png" />

<div class="confirmWrapper" id="content" style="">
</div>