    <style>
        .wrapper {
            padding: 2% 5%;   
        }

        .item {
            display: block;
            background: white;
            margin: 2% 0;
            color: #848484;
            padding: 1% 5%;
        }
        
        .item > table{
            width: 100%;   
        }
        
        .text {
            width:80%;   
        }
        
        .data {
            width: 20%;   
        }

        /*@media screen and (min-height : 240px) {
            .name , .checkbox , .description {
                height: 20px;
                line-height: 20px;
            }

        }

        @media screen and (min-height : 320px) {

            .name , .checkbox , .description {
                height: 24px;
                line-height: 24px;
            }

        }

        @media screen and (min-height : 480px) {
            .name , .checkbox , .description {
                height: 32px;
                line-height: 32px;
            }

        }

        @media screen and (min-height : 600px) {
            .name , .checkbox , .description {
                height: 48px;
                line-height: 48px;
            }

        }

        @media screen and (min-height : 720px) {
            .name , .checkbox , .description {
                height: 60px;
                line-height: 60px;
            }

        }

        @media screen and (min-height : 800px) {
            .name , .checkbox , .description {
                height: 72px;
                line-height: 72px;
            }

        }

        @media screen and (min-height : 900px) {
            .name , .checkbox , .description {
                height: 80px;
                line-height: 80px;
            }

        }

        @media screen and (min-height : 960px) {
            .name , .description {
                height: 45px;
                line-height: 45px;
            }

            .checkbox {
                height: 90px;
                line-height: 90px;
            }

        }

        @media screen and (min-height : 1200px) {
            .name , .checkbox , .description {
                height: 96px;
                line-height: 96px;
            }

        }

        @media screen and (min-height : 1280px) {
            .name , .checkbox , .description {
                height: 120px;
                line-height: 120px;
            }

        }

        @media screen and (min-height : 1600px) {
            .name , .checkbox , .description {
                height: 128px;
                line-height: 128px;
            }

        }

        @media screen and (min-height : 1920px) {
            .name , .checkbox , .description {
                height: 160px;
                line-height: 160px;
            }

        }*/


        .itemInfo {
            float: left;   
        }

        .name {
            font-size: 125%;
            font-weight: 600;
            box-sizing: border-box;
            color: #5C97BF;

        }

        .description {

            box-sizing: border-box;
            font-size: 90%;
            color: #848484;
        }

        input[type=checkbox]{
        display:none;
    }

    input[type=checkbox]:checked + .checkbox > .off{
        display:block;
    }


    input[type=checkbox]:checked + .checkbox > .on{
        display:none;
    }

    .on {
        text-align:center;
        width:50%;
        background:#3FC380;
        border-radius:5px;
        border-radius:10px;
    }

    .off {
        text-align:center;
        display:none;
        width:50%;
        margin-left:50%;
        background:white;
        border-radius:10px;
        color:#2574A9;

    }

    .checkbox {
        float: right;
        color:white;
        width:85%;
        line-height:25px;
        height:25px;
        border-radius:10px;
        background:#2574A9;
        padding:2px;
        font-size: 60%;
    }


        
    </style>

    <div class="wrapper">

        <label for="2" class="item">
            <table>
                <tr>
                    <td class="text">
                        <div class="name">
                            Open Remainder closed?
                        </div>
                        <div class="description">
                            Should remainder msg be open in closed state?
                        </div>
                    </td>
                    <td class="value">
                        <input id="2" type="checkbox" />
                        <div class="checkbox">
                            <div class="on">On</div>
                            <div class="off">Off</div>
                        </div>
                    </td>
                </tr>
            </table>
        </label>
        
        <label for="1" class="item">
            <table>
                <tr>
                    <td class="text">
                        <div class="name">
                            Auto delete viewed Remainders
                        </div>
                        <div class="description">
                            Automatically delete remainders once viewed
                        </div>
                    </td>
                    <td class="value">
                        <input id="1" type="checkbox" />
                        <div class="checkbox">
                            <div class="on">On</div>
                            <div class="off">Off</div>
                        </div>
                    </td>
                </tr>
            </table>
        </label>
        
        <label for="3" class="item">
            <table>
                <tr>
                    <td class="text">
                        <div class="name">
                            Send anonymous usage statistics
                        </div>
                        <div class="description">
                            Send usage statistics for imporvements of the product
                        </div>
                    </td>
                    <td class="value">
                        <input id="3" type="checkbox" />
                        <div class="checkbox">
                            <div class="on">On</div>
                            <div class="off">Off</div>
                        </div>
                    </td>
                </tr>
            </table>
        </label>
        
        <label for="about" class="item">
            <table>
                <tr>
                    <td class="text">
                        <div class="name">
                            About Next Time
                        </div>
                        <div class="description">
                            About the application
                        </div>
                    </td>
                    <td class="value">
                    </td>
                </tr>
            </table>
        </label>

        
        <!--<div class="item" id="2">

            <label for="2i">

                <div class="itemInfo">
                    <div class="name">
                        Open Remainder closed?
                    </div>

                    <div class="description">
                        
                    </div>
                </div>

                <input id="2i" type="checkbox" />

                <div class="checkbox">
                    <div class="on">On</div>
                    <div class="off">Off</div>
                </div>

                <div class="clearfix"></div>

            </label>

            <div class="checkbox">
                <input type="checkbox" />
            </div>

        </div>

        <div class="item" id="1">

            <label for="1i">

                <div class="itemInfo">
                    <div class="name">
                        Auto delete viewed Remainders
                    </div>

                    <div class="description">
                        Automatically delete remainders once viewed
                    </div>
                </div>

                <input id="1i" type="checkbox" />

                    <div class="checkbox">
                        <div class="on">On</div>
                        <div class="off">Off</div>
                    </div>

                <div class="clearfix"></div>

            </label>

        </div>

        <div class="item" id="3">

            <label for="3i">

            <div class="itemInfo">
                <div class="name">
                    Send anonymous usage statistics
                </div>

                <div class="description">
                    Send usage statistics for imporvements of the product
                </div>
            </div>
            <input id="1i" type="checkbox" />

                    <div class="checkbox">
                        <div class="on">On</div>
                        <div class="off">Off</div>
                    </div>
            <div class="clearfix"></div>

            </label>
        </div>

            <div class="item" id="about">
            <div class="itemInfo">
                <div class="name">
                    About Next Time
                </div>

                <div class="description">
                    About the application
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
-->        

    </div>