.input {

  #contact{
    width         : 100%;
    border        : transparent;
    border-bottom : 1px solid #1E8BC3;
    border-radius : 10px;
    padding       : 2% 5%;
    font-size     : $font-size * 1.5;
    outline       : none;
    font-family   : $font-family;
    color         : $color;

  }

}

.preview {
  
   $border-radius   : 10px;
       
   display          : none;
   width            : 80%;
   top              : 10%;
   left             : 0;
   //bottom           : 0;
   right            : 0;
   z-index          : 100;
   position         : absolute;
   background-color : white;
   margin           : auto;
   border-radius    : $border-radius;

  .img {

      width           : 100%;
      border-bottom   : 1px solid #ccc;

      img{
        position      : relative;
        display       : block;
        border-radius : $border-radius;
        margin        : 0 auto;
      }
  }

  .first-letter {

      width           : 100%;
      border-bottom   : 1px solid #ccc;
      display         : none;

      div {
        font-size     : $font-size * 1.25;
        font-family   : $font-family;
        position      : relative;
        border-radius : 10px;
        margin        : 0 auto;
        text-align    : center;
        color         : white;
        border-width  : 1px;
        border-style  : solid;
      }
  }

  .name {
    width             : 100%;
    font-size         : $font-size * 1.5;
    font-family       : $font-family;
    padding           : 0 5%;
    color             : #1E8BC3;
    text-align        : center;
  }
    
  .phone-numbers{
      overflow        : auto;
      overflow-x      : hidden;
      
      .phone-number{
            font-size         : $font-size * 1.5;
            font-family       : $font-family;
            padding           : 0 5%;
          
            .type {
                float         : left;
                color         : #ccc;
            }
          
            .number {
                float         : right;
            }
      }
      
      .phone-number:nth-child(odd) {
            background-color  : aliceblue;    
      }
      
      .phone-number:nth-child(even) {
            background-color  : white;
      }
      
      .add-border {
          border-top          : 1px solid #F0F0F0;
          background-color    : white !important; 
      }
  }

  .footer {

      $footer-background-color   :#C5EFF7;
      
      background-color           : $footer-background-color;
      padding                    : 2% 5%;
      border                     : 1px solid $footer-background-color;
      border-bottom-left-radius  : $border-radius;
      border-bottom-right-radius : $border-radius;

      button {
        height                : 100%;
        border-radius         : $border-radius / 2;
        color                 : white;
        font-family           : $font-family;
        font-size             : $font-size * 1.25;
        outline               : none; 
      }

      #cancel {
        background-color      : #EF4836;
        border                : 1px solid #EF4836;
      }

      #add-contact {
        float                 : right;
        background-color      : #00B16A;
        border                : 1px solid #00B16A;
      }
  }

}

.loading {
  display       : none;
}
