$font-size          : 12px;
$color              : #6C7A89;
$background-color   : #2574A9;
$font-family        : trebuc;
$font-family-header : roboto;
$light-border       : 1px solid #F0F0F0;

@import "_items";
@import "_all-contacts";
@import "_sidebar";

body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  font-size : $font-size;
  color : $color;

  padding : 0;
  margin  : 0;
  border  : 0;
}

@font-face{
    src:url('../font/trebuc.ttf');
    font-family : trebuc;
}

@font-face{
    src:url('../font/Roboto-Regular.ttf');
    src:url('../font/Roboto-Medium.ttf');
    src:url('../font/Roboto-Thin.ttf');
    src:url('../font/Roboto-Light.ttf');
    font-family : roboto;
}

*{
  box-sizing:border-box;
}

header {

  background-color : $background-color;
  clear            : both;
  color            : white;
  display          : none;

  table{
    height         : 100%;
    width          : 100%;

    #hamburger {
      width        : 10%;
        
        img {
            float  : left;     
        }
    }
      
    #back {
        width      : 10%;
        display    : none;
        color      : white;
        font-weight: bold;
        font-size  : $font-size * 2;
        text-align : right; 
    }

    #title {
      width       : 90%;
      text-align  : left;
      font-size   : $font-size * 1.75;
      padding     : 0 5%;
      font-family : $font-family-header;
      font-weight : bold;
    }

  }

}

.workarea {
  display          : none;
  //padding          : 2%;
  position         : relative;
  overflow         : hidden; 
}

.clearfix {
    clear          : both;
}

.overlay {
  position         : absolute;
  top              : 0;
  left             : 0;
  width            : 100%;
  height           : 100%;
  background-color : #C5EFF7;
  opacity          : 0.5;
  z-index          : 100;
  display          : none;
}

.error {
  color            : #F22613;   
}
